<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <h1><span class="logo-nav-area"><img class="img-fluid logo-img" src="/img/bb_logo.png"><a class="navbar-brand" href="#">Bunny and Bugs</a></span></h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fa fa-home fa-fw"></i>Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-music fe-fw"></i> Songs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-book fa-fw"></i>Stories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-gamepad fa-fw"></i>Games</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-futbol-o fa-fw"></i>Activities</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-tablet fa-fw"></i>Apps</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-question-circle fa-fw"></i>About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>